<html>
    <head>

    </head>
    <body>
        <a href="/">메인으로</a>
        <a href="/users/option/new">계정생성</a>
        <form method="POST" action="/users">
            id : <input type="text" name="id"><br>
            pwd : <input type="password" name="pwd"><br>
            <input type="submit" value="Login">
        </form>
    </body>
</html>