<html>
    <head>

    </head>
    <body>
        <form action="/users/option/new" method="POST">
        ID = <input type="text" name="id"><br>
        Email = <input type="email" name ="email"><br>
        Name = <input type="text" name="name"><br>
        gender = 남<input type="radio" name="gender" value="남"> 여<input type="radio" name="gender" value="여"><br>
        Password = <input type="password" name="password"><br>
        <input type="submit" value="Submit">
        </form>
    </body>
</html>