<html>
    <head>
        <title>board Test Page</title>
    </head>
    <body>
        <a href="/board/new">글쓰기</a>
        <a href="/">메인화면으로</a>
        <div>
            <table border="1">
                <tr>
                    <td width="100 px" align="center">
                        번호
                    </td>
                    <td width="100 px" align="center">
                        제목
                    </td>
                </tr>
                
                   <% for(let i=0; i < data.length; i++){ %>
                    <tr>
                        <td>
                            <%= data[i].board_id %>
                        </td>
                        <td>
                            <a href="/board/<%= data[i].board_id%>"><%= data[i].title %> </a>
                        </td>
                    </tr>
                    <% } %>
                

            </table>
        </div>
    </body>
</html>