<html>
    <head>
        <title>board Write Test Page</title>
    </head>
    <body>
        <a href="/board">목록</a>
        <a href="/">처음</a>
        <div>
                <form action="/board" method="POST">
                    제목 : <input name="title" type="text"><br>
                    내용 : <input name="content" type="textarea"><br>
                    <input value="입력" type="submit">
                </form>
        </div>
    </body>
</html>